/ReservaIngressosCinema/packages

/ReservaIngressosCinema/ReservaIngressosCinema.Models/obj

/ReservaIngressosCinema/ReservaIngressosCinema.Models/bin

/ReservaIngressosCinema/ReservaIngressosCinema.Repositories/obj

/ReservaIngressosCinema/ReservaIngressosCinema.Repositories/bin

/ReservaIngressosCinema/ReservaIngressosCinema.Resources/bin

/ReservaIngressosCinema/ReservaIngressosCinema.Resources/obj

/ReservaIngressosCinema/ReservaIngressosCinema.Util/bin
/ReservaIngressosCinema/ReservaIngressosCinema.UI/obj
/ReservaIngressosCinema/ReservaIngressosCinema.UI/bin
/ReservaIngressosCinema/ReservaIngressosCinema.Test/obj
/ReservaIngressosCinema/ReservaIngressosCinema.Test/bin
/ReservaIngressosCinema/ReservaIngressosCinema.Services/obj
/ReservaIngressosCinema/ReservaIngressosCinema.Services/bin
/ReservaIngressosCinema/TestResults
